Repository lissitz/nove: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": "eslint --max-warnings=0 --fix",
  "*.{css,json,html}": [
    "prettier --write"
  ]
}

Add settings page and language option
  src/App.tsx
  src/components/LanguageListbox.tsx
  src/components/Listbox.tsx
  src/components/UserMenu.tsx
  src/i18n.tsx
  src/locales/en.json
  src/locales/es.json
  src/pages/Settings.tsx
  src/router/index.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

adjust spacing
  src/components/Search.tsx
  src/components/TopMenu.tsx
Due: eslint --max-warnings=0 --fix

remove unneeded permissions
  src/api/index.tsx
Due: eslint --max-warnings=0 --fix

limit custom scrollbars to user content and navpanel
  src/App.tsx
  src/components/NavPanel.tsx
  src/styles/base.tsx
  src/theme/theme.tsx
Due: eslint --max-warnings=0 --fix

blur search input after select with click
  src/components/Search.tsx
Due: eslint --max-warnings=0 --fix

split comment component
  src/components/Comment.tsx
Due: eslint --max-warnings=0 --fix

change vote state on mutation in addition to on vote success
  src/components/CommentVotePanel.tsx
Due: eslint --max-warnings=0 --fix

change post vote state on mutation in addition to on success
  src/components/VotePanel.tsx
Due: eslint --max-warnings=0 --fix

add missing translations
  scripts/check-i18n.ts
  src/components/Comment.tsx
  src/components/CommentSortMenu.tsx
  src/components/CommunityInfo.tsx
  src/components/LanguageListbox.tsx
  src/components/Post.tsx
  src/components/PostForm.tsx
  src/components/PostSortMenu.tsx
  src/components/TopMenu.tsx
  src/components/UserBar.tsx
  src/components/UserOverviewSortMenu.tsx
  src/constants.tsx
  src/locales/en.json
  src/locales/es.json
  src/pages/Settings.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

save preferred language to local storage
  src/i18n.tsx
Due: eslint --max-warnings=0 --fix

number i18n
  scripts/check-i18n.ts
  src/components/Comment.tsx
  src/components/CommunityInfo.tsx
  src/components/Post.tsx
  src/components/UserInfo.tsx
  src/components/VotePanel.tsx
  src/i18n.tsx
  src/locales/en-US.json
  src/locales/es-ES.json
  src/utils/format.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

improve translation consistency
  src/components/PostSortMenu.tsx
  src/components/TopMenu.tsx
  src/components/UserOverviewSortMenu.tsx
Due: eslint --max-warnings=0 --fix

mobile communityHeader
  src/components/CommunityHeader.tsx
  src/pages/CommunityBase.tsx
  src/pages/User.tsx
Due: eslint --max-warnings=0 --fix

fix userbar not filling the space
  src/components/UserBar.tsx
Due: eslint --max-warnings=0 --fix

add section and aria label to flairs in posts
  src/components/Post.tsx
  src/locales/en-US.json
  src/locales/es-ES.json
Due: eslint --max-warnings=0 --fix, prettier --write

fix community header styles
  src/components/CommunityHeader.tsx
Due: eslint --max-warnings=0 --fix

fix comment timestamp display if timestamp is in the future
  src/i18n.tsx
Due: eslint --max-warnings=0 --fix

update translations
  src/locales/en-US.json
  src/locales/es-ES.json
Due: prettier --write

reddit video with audio
  src/components/Video.tsx
  src/locales/en-US.json
  src/locales/es-ES.json
Due: eslint --max-warnings=0 --fix, prettier --write

update react-router
  package.json
  yarn.lock
Due: prettier --write

remove unused type
  types/shaka-player/index.d.ts
Due: eslint --max-warnings=0 --fix

use react@latest
  package.json
  yarn.lock
Due: prettier --write

Create .env.example
  .env.example
Due: none

authState adjustment
  src/contexts/authContext.tsx
Due: eslint --max-warnings=0 --fix

update checkbox styles
  src/theme/theme.tsx
Due: eslint --max-warnings=0 --fix

Update README.md
  README.md
Due: none

fix video preview
  src/components/Video.tsx
Due: eslint --max-warnings=0 --fix

persist auth state
  .env.example
  .gitignore
  api/deleteToken.ts
  api/getToken.ts
  api/setToken.ts
  src/api/index.tsx
  src/components/CommentForm.tsx
  src/components/CommentVotePanel.tsx
  src/components/NavBar.tsx
  src/components/NavPanel.tsx
  src/components/VotePanel.tsx
  src/constants.tsx
  src/contexts/authContext.tsx
  src/router/index.tsx
Due: eslint --max-warnings=0 --fix

add missing dependency
  package.json
  yarn.lock
Due: prettier --write

update locales
  src/components/PostForm.tsx
  src/locales/en-US.json
  src/locales/es-ES.json
Due: eslint --max-warnings=0 --fix, prettier --write

fix token refresh
  src/contexts/authContext.tsx
Due: eslint --max-warnings=0 --fix

check returned state matches sent state before authenticating
  src/api/index.tsx
  src/components/CommentForm.tsx
  src/components/CommentVotePanel.tsx
  src/components/NavBar.tsx
  src/components/VotePanel.tsx
  src/constants.tsx
  src/contexts/authContext.tsx
Due: eslint --max-warnings=0 --fix

avoid horizontal layout shift while pending auth on mobile
  src/components/NavBar.tsx
  src/components/UserMenu.tsx
Due: eslint --max-warnings=0 --fix

fix en locale
  src/locales/en-US.json
Due: prettier --write

add logo
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/manifest.json
  public/mstile-144x144.png
  public/mstile-150x150.png
  public/mstile-310x150.png
  public/mstile-310x310.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
Due: prettier --write

change theme-color on theme change
  public/index.html
  src/App.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

solve contrast error
  src/theme/theme.tsx
Due: eslint --max-warnings=0 --fix

comment author color adjustment
  src/components/Comment.tsx
  src/theme/theme.tsx
Due: eslint --max-warnings=0 --fix

remove underline from post title on mobile
  src/components/Post.tsx
Due: eslint --max-warnings=0 --fix
